<h1>Now play USA in hard mode.</h1>
<h2>Where is Massachusetts?</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"><h3>Guesses</h3></div>
    <div class="col-md-8">Map</div>
    <div class="col-md-2"><h3>Progress</h3></div>
  </div>
  <div class="row">
    <div class="col-md-1"><p>Incorrect</p></div>
    <div class="col-md-1"><p>Remaining</p></div>
    <div class="col-md-8"></div>
    <div class="col-md-1"><p>Completed</p></div>
    <div class="col-md-1"><p>Remaining</p></div>
  </div>
