<h1>Game Options Page</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4"><h2>New Game Options</h2></div>
    <div class="col-md-2"></div>
    <div class="col-md-4"><h2>User Stats</h2></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">Choose Map:</div>
    <div class="col-md-2"></div>
    <div class="col-md-4">Games Played:</div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">Difficulty Level:</div>
    <div class="col-md-2"></div>
    <div class="col-md-4">Wins:</div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">Process of Elimination Mode:</div>
    <div class="col-md-2"></div>
    <div class="col-md-4">Win Percentage:</div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4"><button type="button" class="btn btn-default" id="start-new-game">Start New Game</button></div>
    <div class="col-md-2"></div>
    <div class="col-md-4"><button type="button" class="btn btn-default">Full Stats</button></div>
    <div class="col-md-1"></div>
  </div>
</div>
