<h1>Now playing <span id="game-map"></span> in <span id="game-difficulty"></span> mode.</h1>
<h2>Where is <span id="next-guess-prompt"></span>?</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"><h3>Guesses</h3></div>
    <div class="col-md-8"></div>
    <div class="col-md-2"><h3>Progress</h3></div>
  </div>
  <div class="row">
    <div class="col-md-1"><p>Incorrect</p></div>
    <div class="col-md-1"><p>Remaining</p></div>
    <div class="col-md-8"></div>
    <div class="col-md-1"><p>Completed</p></div>
    <div class="col-md-1"><p>Remaining</p></div>
  </div>
  <div class="row" id="in-game-stats">
    <div class="col-md-1"><p><span id="incorrect-guesses"></span></p></div>
    <div class="col-md-1"><p><span id="remaining-guesses"></span></p></div>
    <div class="col-md-8">
      <div id="vmap" class="vmap"></div>
    </div>
    <div class="col-md-1"><p><span id="number-completed"></span></p></div>
    <div class="col-md-1"><p><span id="number-remaining"></span></p></div>
  </div>
</div>
