<h1 id="game-options-title">Game Options Page</h1>
<div class="container-fluid">
<div class="row"><br>
<div class="col-md-1"></div>
<div class="col-md-10"><span id="instructions-text"></span></div>
<div class="col-md-1"></div>
</div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4"><h2>New Game Options</h2></div>
    <div class="col-md-2"></div>
    <div class="col-md-4"><h2>User Stats</h2></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">Choose Map:
      <select id="map-choice">
        <option value="USA">U.S. States</option>
        <option value="us-state-capitals">U.S. State Capitals</option>
      </select>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">Games Started: <span id="games-started"></span></div>
    <div class="col-md-2">Games Completed: <span id="games-completed"></span></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">Difficulty Level:
      <select id="difficulty-level">
        <option value="easy">Easy</option>
        <option value="hard">Hard</option>
        <option value="sudden-death">Sudden Death</option>
      </select>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">Wins: <span id="games-won"></span></div>
    <div class="col-md-2">Losses: <span id="games-lost"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">Process of Elimination Mode:
      <select id="process-of-elimination">
        <option value="off">Off</option>
        <option value="on">On</option>
      </select>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">Win Percentage: <span id="win-percentage"></span>%</div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4"><button type="button" class="btn btn-default" id="start-new-game">Start New Game</button></div>
    <div class="col-md-2"></div>
    <div class="col-md-4"><button type="button" class="btn btn-default" id="get-full-stats">See All Games</button></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
  </div>
</div>
