<div class="container-fluid">
<div class="row">
  <div class="col-md-3"></div>
  <div class="btn-group col-md-2" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary" id="instructions-button">Instructions</button>
  </div>
    <div class="col-md-7"></div>
</div>
</div>
