<p>
<h2>Instructions</h2>
<h3>Click the buttons above to start a new game or view previous games.</h3>
For a <b>new game</b>, you have 3 options to choose from:
<ol>
<li>The Map</li>
<ul>
  <li>U.S. States: Find the state on the map.</li>
  <li>U.S. State Capitals: Find the state based on the state capital.</li>
</ul>
<li>Difficulty Level</li>
<ul>
  <li>Easy: Allows for an unlimited number of incorrect guesses.</li>
  <li>Hard: Allows for an 3 incorrect guesses before the game ends in a loss.</li>
  <li>Sudden-death: Game will end in a loss on the first incorrect guess.</li>
</ul>
<li>Process of Elimination Mode</li>
<ul>
  <li>When toggled on, the map indicates which states have already been guessed correctly.</li>
</ul>
</ol>
<br>
When you <b>view all games</b>, you can resume a game currently in progress.
</p>
