
<h2>Instructions</h2>
<h3>Click the buttons below to start a new game or view previous games.</h3>
<p>
For a <b><u>new game</u></b>, you have 3 options to choose from:
<ol>
<li>The Map</li>
<ul>
  <li>U.S. States: Find the state on the map.</li>
  <li>U.S. State Capitals: Find the state based on the <i>state capital</i>.</li>
</ul>
<li>Difficulty Level</li>
<ul>
  <li>Easy: Allows for an <i>unlimited</i> number of incorrect guesses.</li>
  <li>Hard: Allows for <i>three</i> incorrect guesses before the game ends in a loss.</li>
  <li>Sudden-death: Game will end in a loss on the <i>first</i> incorrect guess.</li>
</ul>
<li>Process of Elimination Mode</li>
<ul>
  <li>When toggled on, the map indicates which states have already been guessed correctly.</li>
</ul>
</ol>
<br>
During a game, you may save your progress so that you can resume later by clicking the save button in the upper left.
<br><br>
Games that are won or lost are automatically saved.
<br><br>
By clicking the <b><u>See All Games</u></b> button below, you can resume a game currently in progress (e.g., has not already been "won" or "lost") or delete a game from your database.
<br>
</p>
