<div class="row">
  <div class="col-sm-4"><span id="save-abort-buttons"></span>
  </div>
  <div class="col-sm-6">

  </div>

  <div class="col-sm-2">
    <nav id="nav" class="nav">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <form id="change-password" class="change-password text-align-center">
                  <fieldset>
                    <input type="password" name="passwords[old]" placeholder="old password">
                    <input type="password" name="passwords[new]" placeholder="new password">
                    <input type="submit" name="submit" value="Submit">
                  </fieldset>
                </form>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <form id="sign-out" class="sign-out text-align-center">
                  <fieldset>
                    <input type="submit" name="submit" value="Sign out">
                  </fieldset>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<section id="game-state-container" class="game-state-container">

  <!-- Map page handlebar template start-->
  <!-- Map page handlebar templates end -->

</section>


<footer id="footer" class="footer text-align-center">

</footer>
