<section id="map-view" class="map-view">
  <div id="goal-message" class="goal-message">
    <h2>Put next randomly generated question here: <span id="next-question"></span></h2>
  </div>

  <aside id="us-map" class="us-map">
    <!-- Start of map code -->
    <div class="vmap" id="vmap"></div>
    <!-- End of map code -->

  </aside>


</section>




<!-- what partial does: adds a line for each book "I'm a partial that's included in every book iteration ". It's just a handlebars file that's being required by another handlebar file -->
<!-- if you call this partial partiale, then the partial.handlebar file should be called partiale.handlebar -->
