<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-success" id="retry-game">Retry</button>
  <button type="button" class="btn btn-info" id="return-to-game-options">Return to Menu</button>
</div>
