<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary" id="save-game">Save Game</button>
  <button type="button" class="btn btn-danger" id="abort-game">Abort Game</button>
</div>
