<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary" id="save-progress">Save Progress</button>
  <button type="button" class="btn btn-danger" id="discard-game">Discard Progress</button>
</div>
