<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Save Game</button>
  <button type="button" class="btn btn-danger">Abort Game</button>
</div>
