$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
// @import url('https://fonts.googleapis.com/css?family=Barrio|Londrina+Solid|Flamenco|Montserrat:700|Poiret+One|Raleway:400,500,700|Roboto:400,500');
// @import 'reset';
// // @import 'typography';
@import 'jqvmap';
@import 'map';

//////////////////////////////
// Global
//////////////////////////////

// * {
//   // border: 1px solid green;
// }

body {
  padding: 40px;
  font-family: 'Crimson Text', serif;
  font-size: 200%;
}

h1 {
  font-size: 300%;
}

h1 {
  font-size: 200%;
}

.text-align-center {
  text-align: center;
}

.center {
  margin: auto;
}

footer {
  margin-top: 100px;
}

.inline {
  display: inline;
}

.status-message {
  text-align: center;
}

#next-guess-centering {
  text-align: center;
}

#game-options-title {
  text-align: center;
}

#game-play-feedback {
  text-align: center;
}
